﻿/* General styles */
.mainhomepage {
    font-family: Helvetica, sans-serif;
    color: azure;
    text-align: center;
    background-size: cover;
    background-position: center;


    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.login-register-container {
    display: flex;
    justify-content: center;
    margin-top: -200px;
    gap: 10px;
    margin-top: 40px;

    color: #ffffff;
    text-decoration: none;

}

.loginBtn,
.RegisterBTn {
    font-size: 20px;
    cursor: pointer;
    background-color: #2690ee;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;

}

.loginBtn:hover,
.RegisterBTn:hover {
    background-color: #92cbfc;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.content01 {
    margin-left: 0px;
    text-align: center;
    padding-top: 20px;
    gap: 10px;
    margin-right: -1000px;
    align-items: center;
    justify-content: center;
}

.content02 {
    margin-right: 1300px;
    text-align: start;
    margin-top: 50px;
}

.LMbtn {
    font-size: 20px;
    border: 2px solid white;
    height: 40px;
    width: 180px;
    display: flex;
    justify-content: center;

    align-items: center;
    margin: 50px auto 0 auto;
    gap: 10px;

}

.LMbtn:hover {
    color: #92cbfc;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.srcBox {
    width: 80%;
    max-width: 300px;
    height: 35px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 50px;
}

.srcBox:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.hero {
    font-size: 20px;
    color: white;
    margin-top: 30px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.ehb {
    -webkit-text-stroke: 1px #608fb5;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.uniLogo {
    max-height: 100px;
    margin-right: 10px;
    position: relative;
}

/* Responsive Design */
@media (max-width: 1597px) {
    .content02 {
        margin-left: 50px;
        margin-right: 50px;
        padding-top: 0px;
    }

    .content01 {
        margin-left: 50px;
        margin-right: 50px;
        padding-top: 50px;
    }

    .LMbtn {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 992px) {

    .content01,
    .content02 {
        margin: 50px;
        padding-top: 40px;
        gap: 10px;
    }

    .login-register-container {

        margin-top: -100px;
    }

    .LMbtn {
        margin: 20px auto;
    }
}

@media (max-width: 768px) {
    .mainhomepage {
        padding: 20px;
    }

    .content01,
    .content02 {
        margin: 10px;
        padding-top: 100px;
    }

    .loginBtn,
    .RegisterBTn {
        font-size: 18px;
        padding: 12px 24px;
    }

    .srcBox {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .content02 {
        margin: 5px;
        padding-top: 20px;
    }

    .content01 {
        margin: 5px;
        padding-top: 90px;
    }

    .LMbtn {
        width: 140px;
        height: 30px;
        font-size: 16px;
    }

    .loginBtn,
    .RegisterBTn {
        font-size: 16px;
        padding: 10px 20px;
    }

    .srcBox {
        width: 95%;
    }

    .hero {
        font-size: 16px;
    }

    .ehb {
        -webkit-text-stroke: 1px #608fb5;
        font-size: 40px;
    }

    .srcBox {
        font-size: 20px;
    }
}