﻿/* General styles */
.mainhomepage {
    font-family: Helvetica, sans-serif;
    color: azure;
    text-align: center;
    background-size: cover;
    background-position: center;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    max-width: 100%;
    max-height: 100%;
}

.login-register-container {
    display: flex;
    justify-content: end;
    margin-top: -200px;
    gap: 10px;
    margin-right: 100px;
}

.loginBtn,
.RegisterBTn {
    font-size: 20px;
    cursor: pointer;
    background-color: #002a4f; 
    color: #ffffff; 
    padding: 15px 30px; 
    border-radius: 10px; 
    text-decoration: none;
}

.loginBtn:hover,
.RegisterBTn:hover {
    background-color: #92cbfc;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.content01 {
    margin-left: 100px;
    text-align: end;
    padding-top: 250px;
    gap: 10px;
    margin-right: 100px;

}
.content02 {
    margin-right: 1300px;
    text-align: start;
    margin-top: 20px;
}


.LMbtn {
    font-size: 20px;
    border: 2px solid white;
    height: 40px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0 auto;
    gap: 10px;
    margin-right: 100px;
}

.LMbtn:hover {
    color: #92cbfc;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.srcBox {
    width: 80%;
    max-width: 300px;
    height: 35px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 30px auto;
}

.srcBox:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.hero {
    font-size: 20px;
    color: white;
    margin-top: 30px;
}

.ehb {
    -webkit-text-stroke: 1px #608fb5;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.uniLogo {
    max-height: 100px;
    margin-right: 10px;
    position: relative;
}

/* Media Queries */
@media (max-width: 768px) {
    .login-register-container {
        flex-direction: column;
        align-items: center;
    }

    .hero {
        font-size: 18px;
    }

    .LMbtn {
        width: 150px;
        height: 35px;
        font-size: 18px;
    }
}
