/*body {
    margin: 0 5px;
    padding: 0;
}

.row {
    display: flex;
}

.items-center {
    align-items: center;
}

.content-center {
    align-content: center;
}

.justify-btw {
    justify-content: space-between;
}

.centered-heading {
    text-align: center;
    margin-top: 20px;*/
    /* Adjust as needed */
/*}

h1 {
    color: #333;*/
    /* Adjust the color as needed */
/*}



.add-btn {
    position: fixed;
    top: 250px;
    left: 50px;
}

.btn {
    padding: 4px 13px;
    width: 150px;
    font-size: 15px;
    box-shadow: 0 0 1px 2px rgb(218, 215, 215);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    background: #007fff;
    font-weight: bold;
    box-shadow: 0 0 2px 2px rgb(65, 106, 195);
    padding: 5px 13px;
    color: #fff;
}

.btn.add {
    background: rgb(16, 122, 67);
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 0 2px 2px rgb(39, 153, 39);
    padding: 5px 13px;
    color: #fff;
    font-family: Tahoma;
    width: 100px;
}

.spacer-20 {
    padding-top: 40px;
}

.filter {
    border-bottom: 1px #ccc solid;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.filter-items div {
    margin-right: 20px;
}

.filter-items input,
.filter-items select {
    margin-left: 0;
    margin-top: 5px;
}

.filter-items .btn {
    height: 20px;
    width: 60px;
}

.column {
    padding: 3px 6px;
    text-align: center;
    vertical-align: middle;
}

.userPage {}

.column.id {
    width: 5px;
}

.column.examHall {
    width: 6%;
}

.column.lectureName {
    width: 10%;
}


.column.numOfStudent {
    width: 8%;
}

.column.year {
    width: 8%;
}

.column.semester {
    width: 10%;
}

.column.subject {
    width: 10%;
}

.column.importance {
    width: 10%;
}

.column.date {
    width: 110px;
}

.column.time {
    width: 40px;
}

.column.academicStaff {
    width: 10%;
}

.column.edit {
    width: 50px;
}

.column.delete {
    width: 50px;
    color: red;
}

.underline {
    border-bottom: 2px solid rgb(203, 197, 197);
}

.hdr {
    font-weight: bold;
}

.me-15 {
    margin-right: 15px;
}

.me-10 {
    margin-right: 10px;
}*/

/*.ms-10 {
    margin-left: 10px;
}*/

/*.mt-15 {
    margin-top: 15px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-5 {
    margin-top: 5px;
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.bc-red {
    background-color: red;
    background: red;
}

.bc-green {
    background-color: green;
    background: green;
}

.bc-gold {
    background-color: gold;
    background: gold;
}

.bc-blue {
    background-color: blue;
    background: blue;
}

.not-allowed {
    cursor: not-allowed;
}

.waiting {
    cursor: wait;
}

.no-event {
    pointer-events: none;
}

.float-right {
    float: right;
}

input,
select {
    margin-left: 30px;
    border-width: 3px;
    border-color: #000;
    border-radius: 5px;
    outline: 1px rgb(34, 146, 239) solid;
    padding: 2px 4px;
    width: 100px;
}

input:focus,
select:focus {
    outline: 1px solid gold;
}

input[name="address"] {
    width: 400px;
}

input[name="title"] {
    width: 80%;
    margin-left: 0;
}

label {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}

textarea {
    resize: vertical;
    border: none;
    outline: 1px rgb(34, 146, 239) solid;
    padding: 5px;
}

textarea:focus {
    outline: 1px solid gold;
}

input[type="checkbox"] {
    height: 20px;
    width: 40px;
    outline: none;
    border: 1px solid gold;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.385);
    width: 100%;
    height: 100%;
}

.modal-container {
    background: #fff;
    border-radius: 9px;
    padding: 8px;
    min-width: 520px;
    max-width: 85vw;
}

.modal-title {
    text-align: center;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: #1c05B3;
}

.modal-action-container {
    padding: 10px 20px;
}



.notifications {
    font-weight: bold;
    animation-name: notification;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

.loading {
    width: 0px;
    font-weight: bold;
    animation-name: loading;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

.hidden {
    display: none;
}*/



/* Positioning the Exam Type div to the right corner of the modal-container */
/*.ms-10 {
    position: absolute;
    z-index: 1;*/
    /* Ensure it's on top of other elements */
    /*background-color: white;*/
    /* Background color to ensure visibility */

    /*margin-left: 340px;
}*/

/* Styling the form container */
/*.form-container {
    margin-left: 35px;
    position: relative;*/
    /* Establishing a positioning context for the absolute positioning of .ms-10 */
    /*padding-right: 50px;*/
    /* Adjust the right padding to make space for .ms-10 */
/*}*/

/* Ensure that form fields within the same row are aligned */
/*.form-row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4px;
}


.form-field {
    flex-basis: calc(25% - 20px);
    margin-bottom: 15px;
}


.form-field label {
    display: block;
    width: 136px;
}

.form-field input {
    width: 80px;
}

.form-field select {
    width: 80px;
}

.modal-action-container {
    padding: 10px 4px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}


.modal-action-container .btn:last-child {
    margin-left: 30px;
    margin-right: 65px;
}



@keyframes notification {
    0% {
        color: gold;
    }

    50% {
        color: red;
    }

    100% {
        color: blue;
    }
}

@keyframes loading {
    0% {
        width: 0px;
    }

    50% {
        width: 4px;
    }

    100% {
        width: 15px;
    }
}*/