
main {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: flex-start;
    margin-top: -20px;
    overflow-y: auto; 
    margin-bottom:40px ;
  }
  
  .centered-heading-container {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  .filter2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-top: 80px;
  }
  
  .filter2 .content2-center {
    margin-left: 10px;
  }
  
  .filter2 .row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .c2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
  }
  
  .add-btn {
    margin-right: auto;
  }
  
  .modal2-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    flex: 1;
    margin-left: 20px;
    color: #002a4f;
  }
  
  button.me-15 {
    margin-left: 15px;
  }
  
  @media (max-width: 1200px) {
    .filter2 {
      margin: 50 20px;
    }
  }
  
  @media (max-width: 992px) {
    .filter2 {
      margin: 50 20px;
    }
  }
  
  @media (max-width: 768px) {
    .filter2 {
      flex-direction: column;
      align-items: stretch;
      margin: 20 50px;
    }
  
    .filter2 .row {
      flex-direction: column;
      gap: 20px;
    }
  
    .filter2 .content2-center {
      margin-left: 0;
    }
  
    .checkbox {
      flex-direction: column;
      gap: 10px;
    }
  
    .add-btn {
      margin: auto;
    }
  
    .modal2-title {
      margin-bottom: 20px;
    }
  
    button.me-15 {
      margin-left: 0;
      margin-top: 20px;
    }
  }
  
  @media (max-width: 576px) {
    .filter2 {
      margin: 0 100px;
    }
  
    .filter2 .row {
      gap: 10px;
    }
  
    .checkbox {
      gap: 0;
    }
  
    button.me-15 {
      margin-top: 10px;
    }
  }
  

  .userPage {
    width: 100%;
    margin: 20px auto;
    overflow-x: auto; 
    display: flex;
    max-height: 600px;
    max-width: 100%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px;
    overflow-x: auto; /* Ensure horizontal scrolling */
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    width: 150px; 
    min-width: 100px; 
  }
  
  thead {
    background-color: #002a4f;
    font-weight: bold;
    color: white;
  }
  
  .bc-red2 {
    background-color: #f8d7da;
  }
  
  .bc-green2 {
    background-color: #d4edda;
  }
  
  .bc-green {
    background-color: #c3e6cb;
  }
  
  .bc-gold {
    background-color: #ffeeba;
  }
  
  .bc-red {
    background-color: #f5c6cb;
  }
  
  .bc-blue {
    background-color: #d1ecf1;
  }
  

  @media (max-width: 768px) {
    .filter-items {
      flex-direction: row;
    }
  
    .filter-items div {
      min-width: 100%;
    }
  
    table {
      width: 100%; 
      min-width: 100%; 
    }
  }
  
  @media (max-width: 576px) {
    .filter2 {
      flex-direction: row;
      align-items: stretch;
      margin: 0 10px;
    }
  
    .filter2 .row {
      flex-direction: column;
      gap: 10px;
    }
  
    .filter2 .content2-center {
      margin-left: 0;
    }
  
    .checkbox {
      flex-direction: column;
      gap: 5px;
    }
  
    .add-btn {
      margin: auto;
    }
  
    .modal2-title {
      margin-bottom: 10px;
    }
  
    button.me-15 {
      margin-left: 0;
      margin-top: 10px;
    }
  
    .userPage {
      width: 100%;
      margin: 20px;
      overflow-x: auto; /* Ensure horizontal scrolling */
      display: flex;
      max-height: 800px;
      max-width: 100%;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 10px;
      min-width: 1200px;
    }
  
    th, td {
      padding: 5px;
      text-align: center;
      border: 1px solid #ccc;
    }
  }
  