main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .filter {
    width: 20%;
    display: flex;
    flex-direction: column;
  }
  
  .filter-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .table {
    width: 75%;
  }
  
  .hdr, .row {
    display: flex;
  }
  
  .hdr {
    font-weight: bold;
  }
  
  .column {
    flex: 1;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
  .underline {
    border-bottom: 2px solid #000;
  }
  
  .add-btn {
    margin-bottom: 20px;
  }
  
  .centered-heading {
    text-align: center;
  }
  
  .loading {
    animation: loadingAnimation 1s linear infinite;
  }
  
  @keyframes loadingAnimation {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }
  