.modal-container {
    width: 800px;
    height:800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 15px;
}

    .input-container label {
        display: block;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .input-container input,
    .input-container textarea,
    .input-container select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

        .input-container input[type="checkbox"] {
            width: auto;
        }

.row {
    display: flex;
    align-items: center;
}

.ms-10 {
    margin-left: 10px;
}
