body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* .NavBarDIV{
    height: 30%;
    width: 100%;
    position:flex;
}
.BodyDIV{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: flex;
}
.footerDIV{
    height: 3%;
    width: 100%;
} */
