.exam-hall-selection {
    text-align: center;
    padding: 20px;
    background-image: url('https://jefaa.lk/gallery/1611201956img.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    position: relative;
    overflow: hidden;
}

  
  .hall-boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }
  
  .hall-box {
    background-color: rgba(3, 12, 34, 0.285);
    border: 3px solid #ccc;
    border-radius: 10px;
    padding: 50px;
    width: 450px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hall-box:hover {
    transform: scale(1.05);
    background-color:rgba(0, 0, 0, 0.69)
  }
  .hall-name {
    margin: 0;
    font-size: 28px;
    transition: text-decoration 0.3s ease;
    font-weight: 500;
  }

  .hall-box:active .hall-name {
    text-decoration: underline;
  }
  

